@import './components/all';

body{
    background-color: #ffffff;
    color: #221f1f;
    // font: 62.5%/1.4 BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
}

.styles-module_left__2lGdA{
    width: 15%;
}


